.p-work.Div53 {
margin-top: ;
background-color: #ffff;
padding-top: 30px;
padding-bottom: 50px;
}
.p-work.Flex15 {
display: inline-flex;
align-items: center;
justify-content: flex-start;
align-content: flex-start;
margin-top: ;
padding-top: 0px;
padding-bottom: ;
margin-left: 90px;
margin-right: 90px;
align-self: auto;
text-align: left;
width: ;
}
.p-work.Div60 {
margin-right: 70px;
}
.p-work.Flex19 {
display: flex;
width: ;
align-items: flex-end;
justify-content: flex-end;
margin-left: 350px;
}
.p-work.Div82 {
margin-right: ;
}
.p-work.Div83 {
margin-right: 0px;
margin-left: 0px;
}
.p-work.Div84 {
margin-right: 20px;
}
.p-work.Div85 {
;
}
.p-work.Div87 {
;
}
.p-work.Div66 {
margin-top: 70px;
}
.p-work.Flex16 {
display: flex;
margin-left: 90px;
margin-right: 90px;
}
.p-work.Div67 {
;
}
.p-work.Div69 {
;
}
.p-work.Flex17 {
display: flex;
margin-top: 30px;
}
.p-work.Div70 {
;
}
.p-work.Div71 {
;
}
.p-work.Div68 {
;
}
.p-work.Div72 {
height: ;
margin-bottom: 100px;
padding-bottom: 100px;
padding-top: 100px;
}
.p-work.Div73 {
margin-top: 50px;
margin-bottom: 50px;
margin-left: 90px;
margin-right: 90px;
text-align: center;
}
.p-work.Div76 {
margin-left: 90px;
margin-right: 90px;
text-align: left;
}
.p-work.Flex18 {
display: flex;
align-items: center;
justify-content: center;
margin-left: 200px;
margin-right: 200px;
}
.p-work.Div77 {
;
}
.p-work.Div78 {
;
}
.p-work.Div79 {
;
}
.p-work.Div80 {
;
}
.p-work.Div91 {
height: ;
word-wrap: normal;
}
.p-work.Div92 {
;
}
.p-work.Div94 {
;
}
.p-work.Div96 {
margin-top: 70px;
margin-left: ;
margin-right: ;
}
.p-work.Flex21 {
display: flex;
margin-left: 90px;
margin-right: 90px;
align-items: stretch;
justify-content: space-between;
align-content: flex-start;
margin-top: 0px;
}
.p-work.Div97 {
width: 35%;
align-self: flex-start;
text-align: left;
height: ;
margin-bottom: 20px;
}
.p-work.Div105 {
;
}
.p-work.Div108 {
;
}
.p-work.Div111 {
;
}
.p-work.Div98 {
width: 35%;
text-align: left;
align-self: flex-start;
height: ;
margin-right: 3px;
margin-left: ;
}
.p-work.Div106 {
;
}
.p-work.Div109 {
;
}
.p-work.Div112 {
;
}
.p-work.Div99 {
align-self: flex-start;
width: 35%;
height: ;
text-align: left;
margin-left: ;
overflow: visible;
}
.p-work.Div107 {
;
}
.p-work.Div110 {
;
}
.p-work.Div113 {
;
}
.p-work.Div114 {
;
}
.p-work.Flex22 {
display: flex;
align-items: flex-start;
justify-content: center;
margin-left: 90px;
margin-right: 90px;
}
.p-work.Div115 {
width: 70%;
height: 200px;
}
.p-work.Div117 {
;
}
.p-work.Div118 {
;
}
.p-work.Div116 {
width: 30%;
height: 200px;
}
.p-work.Div119 {
text-align: right;
margin-top: 80px;
}
.p-work.Div120 {
margin-top: 50px;
}
.p-work.Flex23 {
display: flex;
align-items: flex-end;
justify-content: center;
margin-left: 90px;
margin-right: 90px;
}
.p-work.Div121 {
;
}
.p-work.Div122 {
;
}
.p-work.Div123 {
;
}
.p-work.Div124 {
background-color: #000f;
height: ;
}
.p-work.Flex24 {
display: flex;
justify-content: center;
margin-left: 60px;
margin-right: 60px;
margin-top: 10px;
}
.p-work.Div125 {
width: 375px;
height: ;
background-color: #ffff;
}
.p-work.Div126 {
width: 375px;
height: ;
margin-left: 12px;
margin-right: 12px;
background-color: #ffff;
}
.p-work.Div127 {
width: 375px;
height: ;
background-color: #ffff;
}
.p-work.Div128 {
;
}
.p-work.Div129 {
text-align: right;
}
.p-work.Div130 {
;
}
.p-work.Flex25 {
display: flex;
margin-left: 90px;
margin-right: 90px;
justify-content: center;
margin-top: 20px;
}
.p-work.Div131 {
width: 50%;
height: ;
}
.p-work.Div132 {
padding-top: 50px;
margin-bottom: ;
padding-bottom: 90px;
}
.p-work.Div133 {
margin-bottom: 0px;
border-bottom-width: 1px;
border-bottom-color: #ffff;
border-bottom-style: solid;
padding-bottom: 20px;
}
.p-work.Div134 {
border-bottom-width: 1px;
border-bottom-color: #ffff;
border-bottom-style: solid;
padding-bottom: 20px;
}
.p-work.Div136 {
border-bottom-width: 1px;
padding-bottom: 20px;
border-style: none;
border-color: #000f;
border-bottom-color: #ffffffff;
border-bottom-style: solid;
border-width: ;
outline-width: 1px;
}
.p-work.Div137 {
border-bottom-width: 1px;
border-color: #000f;
border-bottom-style: solid;
border-bottom-color: #ffffffff;
padding-bottom: 20px;
}
.p-work.Div138 {
border-bottom-width: 1px;
border-color: #000f;
margin-bottom: ;
padding-bottom: 20px;
border-bottom-style: solid;
border-bottom-color: #ffff;
}
.p-work.Div139 {
;
}
.p-work.Flex26 {
display: flex;
margin-left: 90px;
margin-right: 90px;
justify-content: center;
margin-top: 70px;
}
.p-work.Div140 {
;
}
.p-work.Div142 {
margin-left: 20px;
}
.p-work.Div143 {
;
}
.p-work.Flex27 {
display: flex;
align-items: center;
justify-content: center;
margin-left: 90px;
margin-right: 90px;
margin-top: 50px;
margin-bottom: 50px;
}
.p-work.Div144 {
;
}
.p-work.Div145 {
;
}
.p-work.Div146 {
align-self: center;
}
.p-work.Div147 {
;
}
.p-work.Flex28 {
display: flex;
justify-content: space-between;
align-items: stretch;
margin-left: 90px;
margin-right: 90px;
flex-direction: row;
}
.p-work.Div148 {
height: ;
align-self: auto;
width: 47%;
}
.p-work.Flex29 {
display: flex;
margin-bottom: 40px;
margin-top: 45px;
border-bottom-width: 2px;
border-bottom-color: #E5E5E5ff;
border-bottom-style: solid;
padding-bottom: 40px;
justify-content: space-between;
}
.p-work.Div152 {
margin-left: 80px;
text-align: left;
align-self: center;
}
.p-work.Div176 {
;
}
.p-work.Div151 {
;
}
.p-work.Div170 {
;
}
.p-work.Flex34 {
display: flex;
margin-top: 45px;
margin-bottom: 40px;
padding-bottom: 40px;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #E5E5E5ff;
justify-content: space-between;
}
.p-work.Div171 {
;
}
.p-work.Div172 {
margin-top: 0px;
margin-left: 80px;
align-self: center;
}
.p-work.Div173 {
;
}
.p-work.Flex35 {
display: flex;
justify-content: space-between;
padding-bottom: 35px;
border-bottom-width: 2px;
border-bottom-color: #E5E5E5ff;
border-bottom-style: solid;
}
.p-work.Div174 {
;
}
.p-work.Div175 {
align-self: center;
}
.p-work.Div149 {
height: ;
text-align: left;
width: 47%;
}
.p-work.Flex30 {
display: flex;
margin-top: 40px;
margin-bottom: 40px;
padding-bottom: 40px;
border-bottom-width: 2px;
border-bottom-color: #e5e5e5ff;
border-bottom-style: solid;
justify-content: flex-start;
align-items: center;
}
.p-work.Div154 {
;
}
.p-work.Flex31 {
display: flex;
}
.p-work.Div160 {
;
}
.p-work.Div159 {
margin-top: 0px;
margin-left: 15px;
margin-right: 65px;
}
.p-work.Div161 {
;
}
.p-work.Div162 {
margin-top: 0px;
padding-bottom: 40px;
border-bottom-width: 2px;
border-bottom-color: #e5e5e5ff;
border-bottom-style: solid;
}
.p-work.Flex32 {
display: flex;
align-items: center;
}
.p-work.Div163 {
;
}
.p-work.Div164 {
margin-top: 0px;
margin-left: 15px;
margin-right: 65px;
}
.p-work.Div165 {
;
}
.p-work.Div166 {
margin-top: 40px;
border-bottom-width: 2px;
border-bottom-color: #e5e5e5ff;
padding-bottom: 20px;
border-bottom-style: solid;
}
.p-work.Flex33 {
display: flex;
align-items: center;
}
.p-work.Div167 {
;
}
.p-work.Div168 {
margin-left: 15px;
margin-right: 65px;
width: 150px;
}
.p-work.Div169 {
;
}
.p-work.Div177 {
margin-left: 90px;
margin-right: 90px;
}
.p-work.Div179 {
margin-left: ;
margin-right: ;
}
.p-work.Flex36 {
display: flex;
justify-content: space-between;
margin-left: 90px;
margin-right: 90px;
}
.p-work.Div180 {
;
}
.p-work.Div182 {
height: 1px;
}
.p-work.Div186 {
height: ;
}
.p-work.Div187 {
margin-top: ;
margin-bottom: 100px;
}
.p-work.Div188 {
;
}
.p-work.Flex37 {
display: flex;
justify-content: space-between;
}
.p-work.Div189 {
margin-right: 80px;
margin-left: 50px;
}
.p-work.Div190 {
;
}
.p-work.Flex38 {
display: flex;
}
.p-work.Div192 {
margin-top: 100px;
background-color: #000f;
font-family: ;
height: ;
}
.p-work.Div193 {
;
}
.p-work.Div194 {
;
}
.p-work.Div195 {
margin-top: 70px;
height: ;
margin-left: 90px;
margin-right: 90px;
}
.p-work.Div207 {
;
}
.p-work.Div208 {
;
}
.p-work.Div209 {
height: ;
}
.p-work.Flex41 {
display: flex;
justify-content: space-between;
margin-top: 50px;
}
.p-work.Div210 {
height: ;
}
.p-work.Div212 {
;
}
.p-work.Flex42 {
display: flex;
}
.p-work.Div211 {
width: 47%;
}
.p-work.Flex44 {
display: flex;
justify-content: space-between;
}
.p-work.Div215 {
;
}
.p-work.Div216 {
;
}
.p-work.Div217 {
;
}
.p-work.Div218 {
;
}
.p-work.Flex40 {
display: flex;
justify-content: space-between;
margin-left: 90px;
margin-right: 90px;
}
.p-work.Div196 {
height: ;
width: ;
}
.p-work.Div199 {
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #e5e5e5ff;
}
.p-work.Div200 {
border-bottom-width: 1px;
border-style: solid;
border-bottom-style: solid;
border-bottom-color: #e5e5e5ff;
}
.p-work.Div201 {
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #e5e5e5ff;
}
.p-work.Div202 {
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #e5e5e5ff;
}
.p-work.Div198 {
width: ;
}
.p-work.Div203 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 20px;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #e5e5e5ff;
}
.p-work.Div204 {
border-bottom-width: 1px;
border-bottom-color: #e5e5e5ff;
border-bottom-style: solid;
}
.p-work.Div205 {
font-family: IBM Plex Sans;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #e5e5e5ff;
}
.p-work.Div206 {
border-width: 1px;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #e5e5e5ff;
}
.p-work.TextBox33 {
font-size: 30px;
align-self: auto;
text-align: left;
margin-left: ;
font-family: IBM Plex Sans;
}
.p-work.TextBox47 {
margin-right: 20px;
font-family: IBM Plex Sans;
}
.p-work.TextBox48 {
margin-right: 20px;
font-family: IBM Plex Sans;
}
.p-work.TextBox49 {
font-family: IBM Plex Sans;
}
.p-work.TextBox50 {
margin-right: 20px;
font-family: IBM Plex Sans;
}
.p-work.TextBox51 {
font-family: IBM Plex Sans;
}
.p-work.TextBox41 {
font-size: 69px;
margin-top: 60px;
align-self: auto;
width: ;
font-family: IBM Plex Sans;
font-weight: 500;
text-align: left;
}
.p-work.TextBox42 {
font-size: 70px;
line-height: ;
margin-top: 0px;
margin-bottom: 20px;
font-family: IBM Plex Sans;
font-weight: 500;
}
.p-work.TextBox43 {
font-size: 20px;
font-family: IBM Plex Sans;
font-weight: 400;
}
.p-work.Button6 {
color: #ffff;
background-color: #000f;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #000f;
cursor: pointer;
user-select: none;
}
.p-work.Button7 {
color: #000f;
background-color: #ffff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ffff;
cursor: pointer;
user-select: none;
margin-left: 30px;
}
.p-work.Image14 {
width: 450px;
height: 595px;
}
.p-work.TextBox44 {
margin-top: 50px;
margin-bottom: 20px;
width: ;
height: ;
font-size: 25px;
text-align: center;
font-family: IBM Plex Sans;
font-weight: 300;
}
.p-work.Image15 {
width: 140px;
height: 32px;
}
.p-work.Image16 {
width: 140px;
height: 32px;
margin-left: 30px;
margin-right: 30px;
}
.p-work.Image17 {
margin-right: 30px;
width: 140px;
height: 32px;
}
.p-work.Image19 {
width: 140px;
height: 32px;
}
.p-work.TextBox54 {
text-align: center;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 25px;
margin-left: 90px;
margin-right: 90px;
}
.p-work.TextBox55 {
font-family: IBM Plex Sans;
text-align: center;
font-weight: 500;
font-size: 55px;
margin-left: 90px;
margin-right: 90px;
}
.p-work.Image21 {
margin-left: ;
width: 70px;
height: 65px;
}
.p-work.TextBox56 {
margin-top: 20px;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 25px;
}
.p-work.TextBox59 {
margin-top: 20px;
margin-bottom: 20px;
font-family: IBM Plex Sans;
font-weight: 300;
color: #666f;
width: 80%;
}
.p-work.UnorderedList1 {
flex-direction: column;
margin-left: ;
padding-left: 20px;
margin-top: 0px;
width: 80%;
}
.p-work.Image22 {
height: 65px;
width: 70px;
}
.p-work.TextBox57 {
margin-top: 20px;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 25px;
}
.p-work.TextBox60 {
margin-top: 20px;
margin-bottom: 20px;
font-family: IBM Plex Sans;
font-weight: 300;
color: #666f;
width: 80%;
}
.p-work.UnorderedList2 {
padding-left: 20px;
margin-top: 0px;
width: 80%;
}
.p-work.Image23 {
align-self: auto;
width: 70px;
height: 65px;
}
.p-work.TextBox58 {
margin-top: 20px;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 25px;
}
.p-work.TextBox61 {
font-family: IBM Plex Sans;
font-weight: 300;
margin-top: 20px;
margin-bottom: 20px;
color: #666f;
width: 80%;
}
.p-work.UnorderedList3 {
padding-left: 20px;
margin-top: 0px;
width: 80%;
}
.p-work.TextBox63 {
margin-top: 0px;
font-family: IBM Plex Sans;
font-weight: 500;
margin-bottom: 20px;
font-size: 25px;
}
.p-work.TextBox64 {
margin-top: 0px;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 60px;
box-sizing: border-box;
word-wrap: normal;
line-height: 60px;
align-self: auto;
overflow: visible;
}
.p-work.TextBox65 {
margin-top: 0px;
font-family: IBM Plex Sans;
font-size: 60px;
font-weight: 500;
}
.p-work.Button8 {
color: #fff;
background-color: #000f;
padding-top: 12px;
padding-left: 20px;
padding-bottom: 12px;
padding-right: 20px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #000000ff;
cursor: pointer;
user-select: none;
}
.p-work.Image27 {
width: 350px;
height: 250px;
}
.p-work.Image25 {
padding-left: 0px;
width: 350px;
height: 250px;
margin-left: 10px;
padding-right: ;
margin-right: 10px;
}
.p-work.Image26 {
width: 350px;
height: 250px;
}
.p-work.TextBox66 {
margin-left: 30px;
font-family: IBM Plex Sans;
font-weight: 500;
margin-top: 30px;
}
.p-work.TextBox67 {
margin-top: 10px;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 25px;
margin-left: 30px;
margin-bottom: 10px;
}
.p-work.Link2 {
margin-top: 0px;
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
margin-left: 30px;
}
.p-work.TextBox68 {
margin-top: 30px;
margin-left: 30px;
font-family: IBM Plex Sans;
font-weight: 500;
}
.p-work.TextBox70 {
margin-top: 10px;
margin-bottom: 10px;
margin-left: 30px;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 25px;
}
.p-work.Link3 {
margin-left: 30px;
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
}
.p-work.TextBox69 {
margin-top: 30px;
margin-left: 30px;
font-family: IBM Plex Sans;
font-weight: 500;
}
.p-work.TextBox71 {
margin-top: 10px;
margin-left: 30px;
margin-bottom: 10px;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 25px;
}
.p-work.Link4 {
margin-left: 30px;
font-family: IBM Plex Sans;
font-size: 20px;
font-weight: 400;
}
.p-work.Button11 {
color: #000f;
background-color: #ffff;
padding-top: 10px;
padding-left: 20px;
padding-bottom: 10px;
padding-right: 20px;
font-size: 16px;
border-radius: ;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ffff;
cursor: pointer;
user-select: none;
margin-left: 20px;
margin-right: 65px;
margin-top: 15px;
}
.p-work.Button12 {
color: #000f;
background-color: #ffff;
padding-top: 10px;
padding-left: 20px;
padding-bottom: 10px;
padding-right: 20px;
font-size: 16px;
border-radius: ;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ffff;
cursor: pointer;
user-select: none;
margin-top: 10px;
}
.p-work.TextBox72 {
margin-top: 0px;
color: #ffff;
font-family: IBM Plex Sans;
font-size: 25px;
margin-bottom: 5px;
}
.p-work.TextBox73 {
margin-top: 10px;
font-family: IBM Plex Sans;
font-weight: 300;
font-size: 18px;
color: #ffff;
}
.p-work.TextBox74 {
margin-top: 0px;
color: #ffff;
font-family: IBM Plex Sans;
font-size: 50px;
font-weight: 500;
}
.p-work.TextBox75 {
margin-top: 0px;
color: #ffff;
margin-bottom: ;
font-family: IBM Plex Sans;
font-weight: 300;
}
.p-work.TextBox76 {
margin-top: 15px;
color: #ffff;
font-family: IBM Plex Sans;
font-weight: 300;
}
.p-work.TextBox77 {
margin-top: 10px;
color: #ffff;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 25px;
}
.p-work.TextBox78 {
margin-top: 10px;
font-family: IBM Plex Sans;
color: #ffff;
font-weight: 300;
}
.p-work.TextBox79 {
margin-top: 0px;
font-family: IBM Plex Sans;
color: #ffff;
font-weight: 500;
font-size: 25px;
}
.p-work.TextBox80 {
margin-top: 20px;
color: #ffff;
font-family: IBM Plex Sans;
font-weight: 300;
margin-bottom: 10px;
}
.p-work.TextBox81 {
margin-top: 10px;
font-family: IBM Plex Sans;
font-size: 25px;
font-weight: 500;
color: #ffff;
}
.p-work.TextBox82 {
margin-top: 20px;
font-family: IBM Plex Sans;
font-weight: 300;
color: #ffff;
}
.p-work.TextBox83 {
margin-top: 10px;
font-family: IBM Plex Sans;
font-weight: 300;
color: #ffff;
}
.p-work.TextBox84 {
margin-top: 20px;
color: #ffff;
font-family: IBM Plex Sans;
font-weight: 300;
margin-bottom: 10px;
}
.p-work.TextBox85 {
margin-top: 0px;
font-family: IBM Plex Sans;
font-weight: 500;
color: #ffff;
font-size: 25px;
margin-bottom: 10px;
}
.p-work.TextBox86 {
margin-top: 0px;
font-family: IBM Plex Sans;
font-weight: 300;
color: #ffff;
}
.p-work.TextBox87 {
margin-top: 20px;
margin-bottom: 10px;
font-family: IBM Plex Sans;
font-weight: 300;
color: #ffff;
}
.p-work.TextBox88 {
margin-top: 0px;
margin-bottom: 10px;
color: #ffff;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 25px;
}
.p-work.TextBox89 {
margin-top: 0px;
font-family: IBM Plex Sans;
font-weight: 300;
color: #ffff;
}
.p-work.TextBox90 {
margin-top: 5px;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 50px;
margin-bottom: ;
}
.p-work.TextBox91 {
margin-top: ;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 25px;
width: 250px;
height: ;
}
.p-work.TextBox92 {
margin-top: 0px;
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
width: 500px;
margin-left: 200px;
}
.p-work.Image28 {
width: 338px;
height: ;
}
.p-work.Image29 {
margin-top: 0px;
width: 400px;
height: 52vw;
margin-left: 5px;
margin-right: 5px;
}
.p-work.Image30 {
margin-top: 0px;
width: 250px;
height: 26vw;
margin-bottom: 5px;
}
.p-work.Image31 {
width: 250px;
height: 25vw;
align-self: center;
margin-top: 5px;
}
.p-work.TextBox93 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 35px;
margin-top: ;
}
.p-work.TextBox99 {
font-family: IBM Plex Sans;
font-weight: 300;
font-size: ;
}
.p-work.TextBox97 {
margin-top: 0px;
font-family: IBM Plex Sans;
font-size: 20px;
font-weight: 500;
}
.p-work.TextBox98 {
margin-top: 0px;
font-family: IBM Plex Sans;
font-weight: 400;
padding-top: 10px;
}
.p-work.TextBox113 {
margin-top: 0px;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 20px;
}
.p-work.TextBox114 {
margin-top: 10px;
font-family: IBM Plex Sans;
font-weight: 400;
}
.p-work.TextBox115 {
;
}
.p-work.TextBox116 {
margin-top: 0px;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 20px;
}
.p-work.TextBox117 {
margin-top: 5px;
font-family: IBM Plex Sans;
}
.p-work.TextBox118 {
;
}
.p-work.TextBox94 {
margin-top: 0px;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 35px;
}
.p-work.Image33 {
;
}
.p-work.TextBox104 {
margin-top: 0px;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 20px;
margin-left: 0px;
margin-right: ;
}
.p-work.TextBox105 {
margin-top: 0px;
font-family: IBM Plex Sans;
font-weight: 300;
}
.p-work.TextBox106 {
font-family: IBM Plex Sans;
font-weight: 300;
}
.p-work.Image34 {
;
}
.p-work.TextBox107 {
margin-top: 0px;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 20px;
}
.p-work.TextBox108 {
font-family: IBM Plex Sans;
font-weight: 300;
}
.p-work.TextBox109 {
font-family: IBM Plex Sans;
font-weight: 300;
}
.p-work.Image35 {
;
}
.p-work.TextBox110 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 20px;
}
.p-work.TextBox111 {
margin-top: 0px;
font-family: IBM Plex Sans;
font-weight: 300;
}
.p-work.TextBox112 {
font-family: IBM Plex Sans;
font-weight: 300;
margin-top: 0px;
}
.p-work.TextBox119 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 25px;
}
.p-work.TextBox120 {
font-family: IBM Plex Sans;
font-size: 55px;
font-weight: 500;
}
.p-work.Image36 {
width: 450px;
}
.p-work.TextBox121 {
;
}
.p-work.Image37 {
margin-left: 50px;
margin-bottom: 10px;
}
.p-work.TextBox122 {
font-family: IBM Plex Sans;
margin-left: 50px;
font-weight: 500;
font-size: 35px;
}
.p-work.TextBox124 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 20px;
}
.p-work.TextBox125 {
margin-top: 5px;
font-family: IBM Plex Sans;
font-weight: 400;
}
.p-work.Button15 {
color: #fff;
background-color: #000f;
padding-top: 12px;
padding-left: 20px;
padding-bottom: 12px;
padding-right: 20px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #000f;
cursor: pointer;
user-select: none;
}
.p-work.Button16 {
color: #fff;
background-color: #000f;
padding-top: 12px;
padding-left: 20px;
padding-bottom: 12px;
padding-right: 20px;
font-size: 16px;
border-radius: ;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #000f;
cursor: pointer;
user-select: none;
}
.p-work.TextBox126 {
align-self: center;
font-family: IBM Plex Sans;
font-weight: 500;
color: #ffff;
font-size: 20px;
text-align: center;
}
.p-work.TextBox127 {
font-family: IBM Plex Sans;
color: #ffff;
text-align: center;
font-weight: 500;
margin-top: 20px;
font-size: 45px;
}
.p-work.TextBox128 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 45npx;
color: #ffff;
}
.p-work.TextBox129 {
margin-top: 0px;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 45px;
color: #ffff;
}
.p-work.TextBox130 {
margin-top: 0px;
font-family: IBM Plex Sans;
font-size: 25px;
color: #ffff;
font-weight: 500;
}
.p-work.TextBox131 {
font-family: IBM Plex Sans;
font-weight: 300;
color: #e5e5e5ff;
font-size: 18px;
margin-top: 10px;
margin-bottom: 10px;
}
.p-work.Image38 {
;
}
.p-work.TextBox134 {
color: #e5e5e5ff;
font-family: IBM Plex Sans;
font-weight: 300;
font-size: 18px;
margin-left: 10px;
align-self: center;
text-align: left;
}
.p-work.TextBox135 {
margin-top: 0px;
font-family: IBM Plex Sans;
font-weight: 400;
color: #ffff;
font-size: 20px;
}
.p-work.TextBox136 {
margin-top: 20px;
margin-bottom: 20px;
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
color: #ffff;
}
.p-work.TextBox137 {
margin-top: 0px;
font-family: IBM Plex Sans;
font-size: 20px;
font-weight: 400;
color: #ffff;
}
.p-work.TextBox138 {
margin-top: 0px;
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
color: #ffff;
}
.p-work.TextBox139 {
margin-top: 20px;
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
color: #ffff;
margin-bottom: 20px;
}
.p-work.TextBox140 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
color: #ffff;
}
.p-work.TextBox141 {
font-family: IBM Plex Sans;
margin-top: 0px;
font-weight: 400;
font-size: 20px;
color: #ffff;
}
.p-work.TextBox142 {
margin-top: 20px;
margin-bottom: 20px;
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
color: #ffff;
}
.p-work.TextBox143 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 20px;
color: #ffff;
}
.p-work.TextBox144 {
margin-top: 80px;
font-family: IBM Plex Sans;
font-weight: 400;
color: #ffff;
margin-bottom: ;
padding-bottom: 10px;
}
.p-work.Dropdown11 {
margin-top: 20px;
padding-bottom: ;
margin-bottom: 30px;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 20px;
color: #ffff;
background-color: #000f;
width: ;
}
.p-work.Dropdown12 {
margin-top: 20px;
margin-bottom: 30px;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 20px;
color: #ffff;
background-color: #000f;
width: ;
}
.p-work.Dropdown13 {
margin-top: 20px;
margin-bottom: 30px;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 20px;
color: #ffff;
background-color: #000f;
width: ;
}
.p-work.Dropdown14 {
font-family: IBM Plex Sans;
margin-top: 20px;
margin-bottom: 30px;
font-size: 20px;
font-weight: 500;
color: #ffff;
background-color: #000f;
width: ;
}
.p-work.Dropdown15 {
margin-top: 20px;
margin-bottom: 30px;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 20px;
background-color: #000f;
color: #ffff;
width: ;
}
.p-work.Dropdown16 {
margin-top: 20px;
margin-bottom: 30px;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 20px;
background-color: #000f;
color: #ffff;
width: ;
}
.p-work.Dropdown19 {
margin-top: 20px;
margin-bottom: 30px;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 20px;
color: #ffff;
background-color: #000f;
width: ;
}
.p-work.Dropdown20 {
margin-top: 20px;
margin-bottom: 30px;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 20px;
background-color: #000f;
color: #ffff;
width: ;
}
@media screen and (max-width: 478px) {
	.p-work.Flex15.bpt {
min-width: 25%;
width: ;
margin-left: 30px;
	}
	.p-work.Flex16.bpt {
flex-direction: column;
margin-left: 30px;
margin-right: 30px;
	}
	.p-work.Div73.bpt {
margin-left: ;
width: 100%;
text-align: center;
	}
	.p-work.TextBox33.bpt {
position: relative;
overflow: hidden;
width: ;
	}
	.p-work.TextBox44.bpt {
width: 100%;
	}
}